.App {
    font-family: sans-serif;
    text-align: center;
}

#root {
    display: flex;
    justify-content: center;
}

.screen {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1400px;
    flex: 1 1 100%;
    /* padding: 83px 0px; */
}

h1 {
    font-weight: bold;
    margin: 6px 0 12px;
}

.date {
    color: var(--secondary);
    font-size: 14px;
    text-transform: uppercase;
}

header {
    border-bottom: 1px solid var(--divider);
    position: relative;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-list {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}

.card {
    position: relative;
    padding: 25px;
    height: 460px;
    flex: 0 0 40%;
    max-width: 40%;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
}

.card:nth-child(odd) {
    padding-left: 0;
}

.card:nth-child(even) {
    padding-right: 0;
}

.card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    font-family: "Haas";
    pointer-events: none;
}

.card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding: 40px 0;
}

.card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 20px;
    background: rgb(43, 42, 42);
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.open .card-content {
    /* height: auto; remove? */
    max-width: 750px;
    overflow: hidden;
    pointer-events: none;
}
.card-open-button {
    font-weight: 900;
    text-align: center;
    width: 5rem;
    transition: all 0.3s ease-out;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #f1f1f1;
    margin: 3rem;
    font-family: "Haas";
    cursor: pointer;
}
.card-open-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
}

.card-image {
    width: 756px;
    height: 430px;
}

.card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 426px;
    width: 760px;
}

.open .card-image-container,
.open .title-container {
    z-index: 1;
}

.title-container {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 300px;
}

.open .title-container {
    top: 30px;
    left: 30px;
}

h2 {
    margin: 8px 0;
}

.category {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
}

.overlay {
    z-index: 1;
    position: fixed;
    background: #0000004d;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;

    transform: translateX(-50%);
}

.content-container {
    padding: 460px 35px 35px 35px;
    max-width: 700px;
    width: 90vw;
}

p {
    color: #9d9ca1;
    font-size: 20px;
    line-height: 28px;
}
/* ========== */
.text {
    font-size: 6rem;
    font-family: "Londrina Outline", cursive;
    font-weight: 900;
}
.inArrow {
    margin-left: -4rem;
    width: 4rem;
}
.curve {
    flex: 1;
    padding: 42px;
}
.arrow {
    transform: rotate(-138deg);
    width: 3rem;
}
.card-1 {
    flex: 1;
    position: relative;
    padding: 25px;
    height: 460px;
}
.card-2 {
    flex: 1 1 5rem;
    position: relative;
    height: 460px;
    padding: 25px;
}
.card-3 {
    flex: 1 1 5rem;
    position: relative;
    height: 460px;
    padding: 25px;
}

.card-4 {
    flex: 1;
    position: relative;
    padding: 25px;
    height: 460px;
}

.desc {
    color: white;
    font-size: 21px;
    line-height: 36px;
}
.projects {
    width: 100%;
    font-size: 1.3rem;
    padding: 83px 0 24px 0;
    /* padding-top: 83px; */
    text-align: center;
    font-family: "Haas";
}

/* ============ */

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        font-size: 1.1rem;
        padding: 144px 41px 24px 32px;
    }
    .content-container {
        width: 100vw;
    }
    .desc {
        font-size: 19px;
        line-height: 25px;
    }
    .card {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .open .card-content {
        border-radius: 0;
    }
    .card-1 {
        flex: 1 1 50rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
    }
    .curve {
        padding: 0;
    }
    .inArrow {
        margin-left: -2rem;
        width: 3rem;
    }
    .text {
        font-size: 3rem;
    }
    .card-2 {
        flex: 1 1 50rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
    }
    .card-3 {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        margin-bottom: 1rem;
    }
    .card-4 {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        margin-bottom: 1rem;
        height: 450px;
    }
    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .card-image {
        width: 40rem;
    }
    .container {
        padding: 0 25px;
    }
    .card-content-container.open {
        padding: 0;
    }
    .card-open-button {
        margin: 0 0 2.8rem 1.4rem;
    }
}
